.table-row-btn {
    height: 18px;
    font-size: 11px;
    line-height: 0.7;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px !important;
    /*background-color: #f8f9fa !important;*/
    background-color: #f4f6f9 !important;
}

tr.table-tr {
    /*    line-height: 0.4;*/
    border-bottom: 1px solid #dee2e6;
}

.error.label.label-danger {
    color: red;
}

.loading {
    background: url(https://gifimage.net/wp-content/uploads/2018/11/loading-gif-cdn.gif) no-repeat center center;
    display: none;
    position: relative;
    left: calc(50% - 16px);
    height: 32px;
    width: 32px;
    z-index: 9999 !important;
}

td.padding7px {
    padding: 7px 0px !important;
}

kbd.active {
    background-color: #4cae4c !important;
}

kbd.inactive {
    background-color: #337ab7 !important;
}


/*******************************/

.br-rad-tp-r-0 {
    border-top-right-radius: 0px !important;
}

.br-rad-tp-l-0 {
    border-top-left-radius: 0px !important;
}

.br-rad-b-l-0 {
    border-bottom-left-radius: 0px !important;
}

.br-rad-b-r-0 {
    border-bottom-right-radius: 0px !important;
}

.jq-bl-0 {
    border-left: 0px !important;
}

thead {
    font-weight: 600;
}

.modal {
    background: rgba(33, 32, 32, 0.72);
}

.modal-header {
    margin: 0px 20px 0px 20px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: block;
}

.forgot_password_modal_header {
    display: flex !important;
}

.forgot_password_modal_footer {
    padding-right: 0px !important;
    margin: 0px 20px 0px 20px;
    border-top: 0px !important;
}

.forgot_password_modal_body {
    margin: 0px 5px -25px 5px !important;
}

.modal-body {
    margin: 0px 5px 0px 5px;
    font-size: 13px !important;
    /* height: calc(70vh + 10px);
    max-height: fit-content;
    overflow-y: auto;*/
}

.modal-body button,
.modal-body input[type=button],
.modal-body input[type=reset],
.modal-body input[type=submit] {
    width: 70px !important;
}

.modal-body .btn {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 3px !important;
    font-size: 13px;
}

.modal-body .btn-outline-info:hover {
    color: white;
}

.modal-body label {
    font-weight: 600;
}

.modal-dialog {
    margin-top: 60px;
}

.modal-content {
    border-radius: 3px !important;
}

ul.pagination li.page-item {
    font-size: 12px;
    font-family: 'roboto', sans-serif;
}


/******* Filter Buttons *******/

.filter_buttons {
    margin: 0px 2px 2px 2px;
    float: right;
}

.mt5 {
    margin-top: 5px;
}

.badge-sky-blue {
    color: #fff;
    background-color: #f6921e;
}

.valign-middle {
    margin: auto 0px;
}

fieldset legend {
    border-bottom: 1px solid #cacaca !important;
}

form label {
    font-weight: 600;
}

.form-control,
.btn {
    font-size: 13px !important;
}

button.input-group-text {
    font-size: 13px !important;
}


/***************** Profile Page ************************/

.choose_file {
    position: relative;
    display: inline-block;
    font-size: 13px !important;
    font-family: 'roboto', sans-serif;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0px !important;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: #ffffff !important;
}

img#blah {
    min-height: 308px;
    min-width: 308px;
    max-height: 308px;
    margin: 0px auto;
}


/* set profile dropdown menu font-size */

a.dropdown-item {
    font-size: 13px;
}


/***** 29 - Dec - 2019 ******/

.table thead {
    background-color: #f5f5f5;
}

.table th,
.table td {
    border: 1px solid #ddd;
    /*padding-bottom: 0.25rem !important;*/
    line-height: 1.1 !important;
    vertical-align: middle;
}

span.fa .fa-edit:hover {
    cursor: pointer;
}


/*** chosen-container-multi ***/

div .chosen-container-multi {
    width: 100% !important;
}


/**** G E N E R A L  M A S T E R  L I S T E N I N G  F O N T - S I Z E  ****/

table.table.sort-table.table-hover.text-center {
    font-size: 12px !important;
    border: 1px solid #dee2e6 !important;
}


/****** F O R M  S E T T I N G ******/

div.form_setting {
    padding: 0.20rem !important;
}

button#editButton {
    margin: 0px -5px 0px 5px;
    /*border-color: darkorange;*/
}

.mt-15px {
    margin-top: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    color: #000000 !Important;
}


/********** sky blue themeing cooring sys *****/

.border-sky-blue {
    border-radius: 3px !important;
    border: 0.5px solid #f6921e !important;
    color: #212529 !important;
}

.btn-sky-blue {
    background-color: #f6921e !important;
    color: #ffffff !important;
    border-radius: 3px !important;
    border: 1px solid #f79646 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sky-blue-rev {
    font-weight: 400 !important;
    color: #f79646 !important;
    text-decoration: none !important;
}

.btn-outline-sky-blue {
    background-color: #ffffff !important;
    color: #f79646 !important;
    border-radius: 3px !important;
    border: 1px solid #f79646 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sky-blue:hover {
    background-color: #f79646d6 !important;
    color: #ffffff !important;
    border: 1px solid #f79646d6 !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem #f6921e !important;
    border: 0px solid #f6921e !important;
}

.modal-body .btn:focus {
    box-shadow: 0 0 0 0.1rem #f6921e !important;
}

.page-item.active .page-link {
    background-color: #f6921e !important;
    border-color: #f6921e !important;
    color: #ffffff !important;
}

.page-link {
    color: #343a40 !important;
    padding: 0.3rem 0.75rem;
}

div.no_of_record span {
    /*margin-right: 10px; */
    /*  background: #f79646 none repeat scroll 0% 0%;  */
    padding: 5px 0px;
    color: #000000;
    border-radius: 3px;
    font-size: 13px;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
}

.text-orange {
    color: #f6921e !important;
}

.text-greenish {
    color: #f6921e !important;
}

.bg-orange {
    background: #f6921e !important;
}

.badge-sky-blue {
    color: #fff;
    background-color: #f6921e;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: white !important;
    text-decoration: none;
    background-color: #f6921e !important;
    transition: all .3s ease;
}


/*** changes from Common.php ***/

a.navbar-link-color {
    /* color: black !important; */
    font-weight: 400 !important;
    font-size: 14px !important;
    text-decoration: none;
}

.no-breadcrumb-bg-color {
    background-color: transparent !important;
}

.orange-nav-item-active {
    background-color: #f6921e;
    transition: all .2s ease-in;
}

.orange-nav-item-active a {
    color: #fff !important;
}

.main-body {
    background-color: white !important;
    padding: 20px 15px !important;
    /*margin-top: -15px !important;*/
    padding-bottom: 15px !important;
}

.font-weight400 {
    font-weight: 400 !important;
}

.font-weight500 {
    font-weight: 500 !important;
}

.font-size22 {
    font-size: 22px !important;
}

.pl-20px {
    padding-left: 20px !important;
}


/* loader */

.loading {
    background: url(http://www.broadwaybalancesamerica.com/images/ajax-loader.gif) no-repeat center center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: all .5s ease;
    transition: all .5s eas;
    z-index: 1000;
    display: none;
}


/*-- Accordion CSS --*/

#accordion .card:not(:last-child) {
    border-bottom: 0px;
}

#accordion .card .card-header {
    padding: 0rem 1.25rem 0.16rem 1.25rem !important;
    font-size: 14px;
    background-color: #fafafa;
}

#accordionExample .card .card-header {
    padding: 0rem 1.25rem 0.16rem 1.25rem !important;
    font-size: 14px;
    background-color: #fafafa;
}

.card-header b {
    line-height: 2.5;
    padding-left: 0.75rem;
    font-weight: 500;
}

.card-header b i {
    padding-left: 0rem;
}

.right_panel {
    margin-top: -16px !important;
}

.card-header-button {
    margin-right: 10px;
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 1.5;
}

.card-body .table thead th {
    /*border-inline-start: 1px solid #cacaca;*/
    border-bottom: none !important;
    /*border-right: 1px solid #cacaca;*/
}

.card-body .table thead th:first-child {
    border-left: 1px solid #cacaca;
}

.card-body .table thead th:last-child {
    border-right: 1px solid #cacaca;
}

.line-height-25 {
    line-height: 2.5 !important;
}

.accordion-sidebar-title {
    border-bottom: 1px solid #0000001a;
    padding-bottom: 2px;
}

.accordion-breadcrumb {
    background-color: transparent !important;
    padding-bottom: 0px !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0.3rem !important;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.3rem !important;
}

.sidebar-sticky {
    margin-top: 6px !important;
}

.sidebar-sticky ul li a:hover {
    color: #ffffff !important;
    transition: all .2s ease-in;
}

.sidebar-sticky li.nav-item:hover {
    background-color: #f6921e;
    transition: right 3s ease-in-out;
    /*color: white;*/
}


/* both classes apply by jquery by event*/

.jq-right-panel-add {
    flex: auto !important;
    max-width: 93.33% !important;
}

.jq-right-panel-remove {
    /*
    flex: 0 0 75% !important;
    max-width: 75% !important;
    */
    flex: 0 0 79% !important;
    max-width: 79% !important;
}

.side-bar {
    border-right: 1px solid #cacaca5e !important;
}

.accordion-start {
    border: 1px solid #acaaaa;
}

.bckground_color {
    background-color: #f6921e;
}

.text_color {
    color: #f6921e !important;
}

.border_color {
    border: 1px solid #b7b7b7;
    border-bottom: 0px;
}

.border_color:last-child {
    border: 1px solid #b7b7b7;
}

.border_bottom_color {
    border-bottom: 1px solid #acaaaa;
}

.border-bottom_0px {
    border-bottom: 0px !important;
}

.import_button,
.export_button {
    padding: 5px !important;
    margin-top: -2px !important;
}


/*
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 9px;
 }
 /* child menu from parent_menu
 .dropdown-menu multi-level:hover{
    margin-top: 9px;

}
*/

.ui-autocomplete {
    z-index: 10000000 !important;
}


/* for location */

.pac-container {
    z-index: 111111111 !important;
}

input[readonly],
input[disabled],
select[readonly],
select[disabled],
button[disabled] {
    cursor: no-drop;
    background-color: #0000001a;
}


/**** April 07, 2020 by shrikant avoid text-wrap in the table listing in accordion*/

tr.table-tr td span {
    white-space: nowrap !important;
}

.border-right-0 {
    border-right: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-group-postpend {
    border-top-color: #f6921e;
    border-right-color: #f6921e;
    border-bottom-color: #f6921e;
}


/*****  No wrap text in the table heading *****/

table.sort-table {
    white-space: nowrap;
}


/* changescroll bar color & size  applicable only in chrome */


/*
::-webkit-scrollbar {
    height: 10px;  /* height of horizontal scrollbar ← You're missing this */


/*width: 4px;   /* width of vertical scrollbar */


/*border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(0, 0, 0, .03);
}

::-webkit-scrollbar-thumb:horizontal {
    background: #bababa;
    /*#F7F7F7* cacaca49*/


/*border-radius: 10px;
}
*/


/* end of scrollbar color & size */

.chosen-container {
    /* width: 232px; */
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .370rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 0px;
    height: 30px;
    border: none !important;
    border-radius: 0.25rem;
    background-color: transparent;
    background: unset !important;
    background: unset !important;
    background: unset !important;
    background: unset !important;
    background: unset !important;
    background-clip: padding-box;
    box-shadow: unset !important;
    color: #444;
    text-decoration: none !important;
    white-space: nowrap !important;
    line-height: 24px;
}


/* for listing filter */

.chosen-container-multi .chosen-choices {
    border: 0px solid transparent !important;
    background-image: none !important;
    border-radius: 3px;
    margin: -3px 0px 0px 0px !important;
}

.chosen-container-active .chosen-choices {
    border: none !important;
    box-shadow: none !important;
}

.chosen-container .chosen-drop {
    margin-top: 1px !important;
    border-top: 0px !important;
}

div.chosen-container {
    border: 0.5px solid #f6921e !important;
    height: fit-content;
    padding-bottom: 2px !important;
    padding-left: 0px;
}

.table {
    margin-bottom: 0.5rem;
}

.pagination-row {
    margin-top: 35px;
    margin-bottom: 5px;
}

.table-heading-checkbox-row {
    padding-top: 3px !important;
    padding-bottom: 10px !important;
}

.br-right {
    padding: 12px 6px 9px 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 3px solid transparent;
    /* border-right: 1px solid #cacaca;*/
}

.br-right:hover {
    /* background-color: #f79646;*/
    border-bottom: 3px solid #f6921e;
    color: #f6921e;
    transition: all .3s ease;
}

.navbar {
    padding: 0rem 1rm !important;
}

#customEditButton,
button.addButton {
    width: 70px;
}

.table_report_footer {
    font-weight: 600;
}

.btn-filter-filter,
.btn-filter-group {
    border-top: 1px solid #e1e1e1 !important;
    border-right: 1px solid #e1e1e1 !important;
    border-bottom: 3px solid #e1e1e1 !important;
    border-left: 1px solid #e1e1e1 !important;
    border-radius: 0px !important;
    margin: 0px 0px;
    background-color: transparent;
    width: 110px;
}

.btn-filter-search-reset {
    width: 70px;
}

.filter_buttons.nav-link.active {
    border-top-color: #f6921e !important;
    border-right-color: #f6921e !important;
    border-bottom-color: #f6921e !important;
    border-left-color: #f6921e !important;
}

.filter-form {
    background-color: #fcfcfc;
    border: 1px solid #e1e1e1;
}

.reportrange {
    cursor: pointer;
}


/* remove black border */

button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(247, 150, 70, 0.25);
}


/* Add border bottom to accordion side bar menu*/

.sidebar-sticky li.nav-item {
    border-bottom: 1px solid #e2e2e2;
}


/* Extra Small Devices */

@media (max-width: 575.98px) {
    .btn-sm {
        margin: 5px;
    }
    div.chosen-container {
        display: block;
    }
}


/* Small Devices */

@media (min-width: 576px) and (max-width: 767.98px) {}


/* Medium */

@media (min-width: 768px) and (max-width: 991.98px) {
    div.chosen-container {
        width: 100%;
    }
    .choose_file {
        display: block;
        text-align: center;
    }
}


/* Large Devices */

@media (min-width: 1200spx) {}


/* Large Devices */

@media (max-width: 992px) and (max-width: 1199.98px) {}

.no-drop {
    cursor: no-drop !important;
}

#remark:focus {
    outline: none !important;
    border-color: #f79646 !important;
}

.text-font-weight {
    font-weight: 600 !important;
}


/* Customize notification number */

span.customise_bage {
    position: relative;
    top: -15px;
    right: -3px;
    text-align: center;
    font-size: 9px;
    padding: 2px 4px;
    line-height: .9;
    background: #7E57C2;
    border-radius: 50%;
    color: white;
}


/* Change readonly field color */

input:-moz-read-only {
    /* For Firefox */
    background-color: #0000001a;
}


/*
  input:read-only {
    background-color: #0000001a;
  } */

.accordion_sub_header {
    color: #116ba9;
    font-size: 14px;
}

compliance-green {
    background: #76933C;
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 30px;
    margin-left: 33px;
}

compliance-red {
    background: #FF0000;
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 30px;
    margin-left: 33px;
}

compliance-orange {
    background: #FF8300;
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 30px;
    margin-left: 33px;
}
compliance-nr {
    background: #C4D79B;
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 30px;
    margin-left: 33px;
}


/*** Mobile responsive accordion */


/*
@media (max-width:  425px) {
    span.sidebar-labels.font-weight400.font-size22.menu_name{
        display:none
    }
    span.sidebar-labels {
        display: block;
        text-align: center;
    }

    div.side-bar {
        max-width: 25% !important;
        text-align: center;
    }
    div.right_panel{
        flex: 0 0 75%  !important;
        max-width: 75% !important;
    }
    div.sidebar-sticky ul li a i.fa {
        text-align:center
    }
    div.sidebar-sticky ul li a.nav-link {
        display: block;
        padding: 0.2rem 0.2rem;
    }
}*/


/* Hide notification of texteditor */

.tox-notification {
    display: none !important;
}


/* Navbar Notifcation */

#alertsDropdown i.fa {
    color: rgb(0 0 0 / 41%);
    font-size: 16px;
}

.nav-item-notification::after {
    display: none !important;
}

.nav-item-notification-header {
    font-weight: 600;
    color: black;
    border-bottom: 1px solid #cacaca;
    padding-top: 1px
}

.no-recent-notification {
    font-size: 13px;
    padding: 5px 25px;
}

.notification-not-found {
    min-height: 100px;
}

.nav-item-show-all {
    color: #cacaca !important;
}

.nav-item .nav-link .badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: 1rem;
    margin-top: -.25rem;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 94%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .35rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.unread-notification {
    background-color: #F1F8E9;
}

.notification-width {
    width: 20rem;
}

.nav-item-notification {
    padding-top: 12px;
}


/* Notification - list */

.notifications {
    border: 1px solid #cacaca;
    border-radius: 3px;
    box-shadow: 2px 2px 1px 0px #cacaca8c;
}

.notification-list,
.n-user-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.notification-list>li {
    border-bottom: 1px solid #cacaca;
    padding: 5px 0;
}

.notification-list>li:last-child {
    border-bottom: 0px;
}

.notification-list .cat-icon {
    width: 55px;
}

.notifications ul li.notification-header {
    font-size: 15px;
    font-weight: 600;
}

.notifications .media .media-right {
    vertical-align: bottom;
    /*height: 80px;*/
    width: 120px;
    display: flex;
}

.notifications .media .media-right .datetime {
    /* align-self: flex-end; */
    padding-top: 17px;
    color: #696565;
}
.tox-notifications-container {display: none !important;}
.tox-statusbar__branding{
    display: none !important;
}
.border_box {
    border: 1px solid #a4a1a1 !important;
}
.font_weight600{
    font-weight: 600;
}
#image_view_edit .image_edit {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
#image_view_edit .col-md-3:hover .image_edit {
    display: block !important;
}
.font_20px{
    font-size: 20px !important;
}
.max-vh-21{
    max-width: 21% !important;
  }
  .max-vh-79{
    max-width: 79% !important;
  }